<!--- Footer
    ================================================== -->

<footer id="footer" class="footer py-3">
  <div class="row">
    <div class="col-12">
      <div class="row info">
        <div class="col-12 contact-social">
          <div class="row contact-social">
            <a href="#0" class="col-3"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#0" class="col-3"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="#0" class="col-3"><i class="fab fa-youtube fa-2x"></i></a>
            <a href="#0" class="col-3"><i class="fab fa-whatsapp fa-2x"></i></a>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-12 my-0 footer-info">
          <a href="#">Copyright &copy; {{autor}}. All Rights Reserved</a>
          <label>Ultima actualizacion: {{ fecha }}</label>
        </div>
      </div>
    </div>
  </div>
</footer>
